body {
    overflow: auto;
    height: 100%;
}
html{
    height: 100%;
    font-size: 80%;
}

main{
  min-height: calc(100vh - 6rem);   /* 6rem = altura do header */
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 2rem 0;                  respiro em telas pequenas */
}

.container {
    height: fit-content;
    width: fit-content;
}

.header {
    width: 100%;
    height: 6rem;
    /* background-color: var(--color-gray-2); */
    background: linear-gradient(to left, var(--color-gray-2), var(--color-gray-3));
    /* box-shadow: 0 0.5rem 1rem var(--color-gray-2); */
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: var(--color-gray-6);
    padding: 1.5rem;
}

span {
    color: var(--color-primary);
}


.theme-btn {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 100%;
    background-color: transparent;
    margin: 0 2rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: min(90vw, 420px);
    max-width: 420px;
    height: auto;
    margin: 0 auto;
    padding: 2.5rem;
    background-color: var(--color-gray-2);
    border-radius: 1.5rem;
    box-shadow: 0 0 20px var(--color-shadow-1);
}

.login-container {
    width: 100%;
}

.register-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-title {
    margin: 0 0 1rem 0;
    color: var(--color-gray-6);
    text-align: center;
}

.form-container {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    margin-top: 1rem;
    background-color: var(--color-gray-4);
    padding: 0.8rem 1.2rem;
    border-radius: 50px;
    border: 1px solid transparent;
    border-color: transparent;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-gray-6);
    /* width: 100%; */
}
input:focus {
    outline: none;
    box-shadow: 0 0 15px var(--color-shadow-2);
    background-color: var(--color-primary-dark);
    color: black;
}

input:focus::placeholder{
    color: black;
}

a {
    text-decoration: none;
}

.login-btn{
    display: block;
    box-sizing: border-box;
    margin: 2.5rem 0 1rem 0;
    text-align: center;
    padding: 1rem 1.2rem;
    width: 100%;
    border-radius: 50px;
    border: 1px solid transparent;
    background-color: var(--color-primary);
    color: var(--color-gray-6);
    font-family: 'Montserrat', sans-serif;  
}

.login-btn:hover{
    background-color: var(--color-primary-dark);
    border: 1px solid var(--color-gray-6);
    /* box-shadow: 0 0.5rem 1rem var(--color-shadow-2); */
}

.line {
    width: 100%;
    height: 2px;
    border-radius: 50px;
    background-color: var(--color-gray-4);
    margin-bottom: 2rem;
}

.register {
    display: block;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    padding: 1rem 1.2rem;
    width: 100%;
    border-radius: 50px;
    border: 1px solid transparent;
    background-color: var(--color-gray-6);
    color: var(--color-gray-1);
    font-family: 'Montserrat', sans-serif;  
}

.register:hover {
    background-color: var(--color-gray-5);
    border: 1px solid var(--color-primary);
    /* box-shadow: 0 0.5rem 1rem var(--color-shadow-2); */
}

.forgot-password{
    margin: 1rem auto 2rem auto;
    color: var(--color-primary);
    text-decoration: none;
    text-align: center;
    width: fit-content;
}

.forgot-password:hover{
    text-decoration: underline;
    color: var(--color-gray-6);
}



/* .register {
    display: block;
    box-sizing: border-box;
    text-align: center;
    padding: 1rem 1.2rem;
    margin: 1rem 0;
    width: 100%;
    border-radius: 50px;
    border: 2px solid var(--color-primary);
    background-color: gray;
    color: var(--color-gray-6);
    font-family: 'Montserrat', sans-serif;
} */

/* footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
    color: var(--color-gray-5);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    margin: 0 auto 1.5rem;
} */